.blogHeading {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .backbutton {
    margin-left: 100px;
    font-weight: 700;
  }
  
  .options {
    margin-right: 100px;
  }
  
  .options Button {
    margin-right: 10px;
  }
  .anticon {
    margin-right: 10px;
  }
  