.postpageheadingcontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .searchanddrawer {
    display: flex;
    margin-top: 40px;
    margin-right: 50px;
  }
  
  .searchcomponent {
    margin-right: 20px;
  }
  